/*
Colors used:
Primary Color (Blue): #74b1c6;
Secondary Color (Gold): #dfb762;
Tertiary Color (Taupe): #a19a8c;
*/
body {
    background-color: #e3dad3;
    font-family: 'Poppins', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #303030;
}

h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.25em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 1.75em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.50em;
    font-weight: 400;
  }
  h4 {
    font-size: 1.25em;
    font-weight: 400;
  }

img {
  width: 100%;
}